@model WADNghi13A.Models.OneProjectOneWeek

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OneProjectOneWeek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArriveDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneWeek)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
