@model IEnumerable<WADNghi13A.Models.OneProjectOneWeek>

@{
    ViewData["Title"] = "Index";
}

<h1>One Project One Week</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArriveDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneWeek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
